<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:fragment="head">

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'BikeRepairTracker' + ${title == null ? '' : ' :: ' + title}">Bike Repair Tracker</title>
</head>

<body>

<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">Bike Repair Tracker</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/repairForm}">Repair Form</a></li>
                <li><a th:href="@{/search}">Search Bikes</a></li>
                <li><a th:href="@{/inventory}">Inventory</a></li>
                <li><a>Cost Adjustment Form</a></li>
                <li sec:authorize="isAuthenticated()"><a th:text="Logout"  th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>