<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:margin="http://www.w3.org/1999/xhtml" xmlns:text-align="http://www.w3.org/1999/xhtml"
      xmlns:display="http://www.w3.org/1999/xhtml" xmlns:flex-direction="http://www.w3.org/1999/xhtml"
      xmlns:justify-content="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head">
</head>
<body>


<div th:replace="fragments :: page-header"></div>

<div   class="container body-content">
    <h1 style = “display: inline-block”>Bike Repair Tracker</h1>
    <h2 style = “display: inline-block” th:text="${message}"></h2>
    <img style = “display: inline-block” src="http://assets.stickpng.com/images/596ce35fed07ad6118f998e8.png" width="730" height="500">

</div>

</body>
</html>

