<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: head">
</head>
<body>


<div th:replace="fragments :: page-header"></div>

<div style = "margin:0 auto" class="container body-content">
    <h1>Bike Repair Tracker</h1>
    <h2 th:text="${message}"></h2>
    <img src="http://assets.stickpng.com/images/596ce35fed07ad6118f998e8.png" width="700" height="500">

</div>

</body>
</html>

