<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">



    <form th:action="@{/search/results}" method = "post">



            <h3 align="center" style="font-size: 50px">Search Bikes</h3>
        <p align="center">
        <span
                class="form-group">
            <label style="font-size:20px" th:for="column.key">Search filter:</label>
            <select style="font-size:20px" name="searchFilter" >
                <option th:each="filter : ${filters}"
                        th:text="${filter.value}"
                        th:value="${filter.key}"></option>
            </select>
        </span>

        </p>



        <p align="center">
            <label for="searchQuery"></label>
            <input type="text" name="searchQuery" id="searchQuery" />
            <input type="submit" value="Search" />
        </p>
        <h3 align="center" th:text="${#strings.capitalizeWords(title)}"></h3>




    </form>

    <hr />

<div class="text-center bikes-inventory" style="font-size: 20px" >

    <div class="well" style="margin-bottom: 10px" th:each="bike : ${bikes}">
        <div class="row">
            <div class="col-md-4">
                <p style="font-weight: bold;">
                    Bike Id:
                    <a th:href="@{'/view/' + ${bike.id}}" th:text="${bike.id}"></a>
                </p>

                <p>
                    Manufacturer:
                    <a th:href="@{'/inventory/bikes?filter=manufacturer&value=' + ${bike.manufacturer.name}}" th:text="${bike.manufacturer.name}"></a>
                </p>

                <p>
                    Model:
                    <a th:href="@{'/inventory/bikes?filter=bikemodel&value=' + ${bike.bikemodel.name}}" th:text="${bike.bikemodel.name}"></a>
                </p>

                <p>
                    Size:
                    <a th:href="@{'/inventory/bikes?filter=bikesize&value=' + ${bike.bikesize.name}}" th:text="${bike.bikesize.name}"></a>
                </p>

            </div>
            <div class="col-md-4">
                <p>
                    Items Replaced:
                <ul th:each="item : ${bike.items}">
                    <li style="list-style: none;" >
                        <a th:href="@{'/items/view/' + ${item.id}}" th:text="${item.name}"></a>
                    </li>
                </ul>
                </p>

            </div>
            <div class="col-md-4">
                <p>
                    Extra Info:
                <p th:text="${ bike.name}"></p>
                </p>
                <p > Repaired By:
                <span  th:text="${#strings.capitalize(bike.userWhoRepaired)}"></span>
                </p>

            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>


<!--        </div>-->
<!--        <td>-->
<!--            <p style="font-weight: bold;">-->
<!--                Bike Id:-->
<!--                <a th:href="@{'/view/' + ${bike.id}}" th:text="${bike.id}"></a>-->
<!--            </p>-->

<!--            <p>-->
<!--                Manufacturer:-->
<!--                <a th:href="@{'/inventory/bikes?filter=manufacturer&value=' + ${bike.manufacturer.name}}" th:text="${bike.manufacturer.name}"></a>-->
<!--            </p>-->

<!--            <p>-->
<!--                Model:-->
<!--                <a th:href="@{'/inventory/bikes?filter=bikemodel&value=' + ${bike.bikemodel.name}}" th:text="${bike.bikemodel.name}"></a>-->
<!--            </p>-->

<!--            <p>-->
<!--                Size:-->
<!--                <a th:href="@{'/inventory/bikes?filter=bikesize&value=' + ${bike.bikesize.name}}" th:text="${bike.bikesize.name}"></a>-->
<!--            </p>-->
<!--        </td>-->
<!--        <td>-->
<!--            <p>-->
<!--                Items Replaced:-->
<!--            <ul th:each="item : ${bike.items}">-->
<!--                <li style="list-style: none;" >-->
<!--                    <a th:href="@{'/items/view/' + ${item.id}}" th:text="${item.name}"></a>-->
<!--                </li>-->
<!--            </ul>-->
<!--            </p>-->

<!--        </td>-->

<!--        <td>-->
<!--            <p>-->
<!--                Extra Info:-->
<!--            <p th:text="${ bike.name}"></p>-->
<!--            </p>-->
<!--        </td>-->

<!--    </div>-->
<!--</div>-->
<!--    <table align="center"  style="font-size: 20px" class="bikes-inventory">-->
<!--        <tr class="well" style="margin-bottom: 10px" th:each="bike : ${bikes}">-->
<!--            <td>-->
<!--                <p style="font-weight: bold;">-->
<!--                    Bike Id:-->
<!--                    <a th:href="@{'/view/' + ${bike.id}}" th:text="${bike.id}"></a>-->
<!--                </p>-->
<!--&lt;!&ndash;                <p>&ndash;&gt;-->
<!--&lt;!&ndash;                    Manufacturer:&ndash;&gt;-->
<!--&lt;!&ndash;                    <a th:href="@{'/manufacturers/view/' + ${bike.manufacturer.id}}" th:text="${bike.manufacturer.name}"></a>&ndash;&gt;-->
<!--&lt;!&ndash;                </p>&ndash;&gt;-->
<!--                <p>-->
<!--                    Manufacturer:-->
<!--                    <a th:href="@{'/inventory/bikes?filter=manufacturer&value=' + ${bike.manufacturer.name}}" th:text="${bike.manufacturer.name}"></a>-->
<!--                </p>-->
<!--&lt;!&ndash;                <p>&ndash;&gt;-->
<!--&lt;!&ndash;                    Model:&ndash;&gt;-->
<!--&lt;!&ndash;                    <a th:href="@{'/bikemodels/view/' + ${bike.bikemodel.id}}" th:text="${bike.bikemodel.name}"></a>&ndash;&gt;-->
<!--&lt;!&ndash;                </p>&ndash;&gt;-->
<!--                <p>-->
<!--                    Model:-->
<!--                    <a th:href="@{'/inventory/bikes?filter=bikemodel&value=' + ${bike.bikemodel.name}}" th:text="${bike.bikemodel.name}"></a>-->
<!--                </p>-->
<!--&lt;!&ndash;                <p>&ndash;&gt;-->
<!--&lt;!&ndash;                    Size:&ndash;&gt;-->
<!--&lt;!&ndash;                    <a th:href="@{'/bikesizes/view/' + ${bike.bikesize.id}}" th:text="${bike.bikesize.name}"></a>&ndash;&gt;-->
<!--&lt;!&ndash;                </p>&ndash;&gt;-->
<!--                <p>-->
<!--                    Size:-->
<!--                    <a th:href="@{'/inventory/bikes?filter=bikesize&value=' + ${bike.bikesize.name}}" th:text="${bike.bikesize.name}"></a>-->
<!--                </p>-->
<!--            </td>-->
<!--            <td>-->
<!--                <p>-->
<!--                    Items Replaced:-->
<!--                <ul th:each="item : ${bike.items}">-->
<!--                    <li style="list-style: none;" >-->
<!--                        <a th:href="@{'/items/view/' + ${item.id}}" th:text="${item.name}"></a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                </p>-->

<!--            </td>-->

<!--            <td>-->
<!--                <p>-->
<!--                    Extra Info:-->
<!--                    <p th:text="${ bike.name}"></p>-->
<!--                </p>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->

