<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:white-space="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">

<h1 th:text="${'Bike ID: ' + bike.id}">Bikes</h1>
<h2 th:text="${message}"></h2>
<nav th:replace="fragments :: page-header"></nav>

<div class="bikes-inventory" style = "display:flex;">
    <div style = "float:left, width: 50%;;">

    <p>
        Manufacturer: <a th:href="@{'/manufacturers/view/' + ${bike.manufacturer.id}}" th:text="${bike.manufacturer.name}"></a>
    </p>
    <p>
        Bike Model: <a th:href="@{'/bikemodels/view/' + ${bike.bikemodel.id}}" th:text="${bike.bikemodel.name}"></a>
    </p>
    <p>
        Bike Size: <a th:href="@{'/bikesizes/view/' + ${bike.bikesize.id}}" th:text="${bike.bikesize.name}"></a>
    </p>

    <p white-space="nowrap">Extra Info:
        <p display="inLine" th:text="${bike.name}"></p>
    </p>

        <p white-space="nowrap" > Repaired By:
            <p display="inLine" th:text="${bike.userWhoRepaired}"></p>
        </p>

        <p white-space="nowrap" > Bike Repair Cost:
        <p display="inLine" th:text="'$'+${bike.RepairCost}"></p>
        </p>
<!--    <p>Created By:-->
<!--        <a th:text="${bike.createdByUser}"></a>-->
<!--    </p>-->
     <p><a th:href="@{/edit/{id}(id=${bike.id})}">Edit Bike</a></p>
    <p><a th:href="@{/delete/{id}(id=${bike.id})}" class="btn btn-danger">Delete Bike</a>
    </p>
</div>
    <div style = "float:left, width: 50%;">
        <p> Items Replaced:
        <ul>
            <li style="list-style: none;" th:each="item : ${bike.items}">
                <a th:href="@{'/items/view/' + ${item.id}}" th:text="${item.name}"></a>
            </li>
        </ul>
    </div>

</div>


</body>
</html>